/* Duration */
section#duration {
  background-image: url('../img/invitation-2508607__340.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  div.overlay {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background-color: var(--main-overlay-color);

    div.container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      color: #fff;
      text-align: center;
      font-size: 2rem;

      div {
        padding: 3.125rem;
        border: 0.0625rem solid #fff;
        margin: 0.625rem;
        user-select: none;
        width: calc(25% - 0.625rem * 2);

        @media (max-width: 767px) {
          width: calc(50% - 0.625rem * 2);
        }
      }
    }
  }
}
